.navbar-nav > li > a.active {
    color: red;
}

a:active,
a:focus, {
  outline:0;
  border:none;
  -moz-outline-style: none;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}
